<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.simba.mq.guards.infrastructure.database.mapper.MqSendLogsMapper">
    <resultMap id="BaseResultMap" type="com.hk.simba.mq.guards.infrastructure.database.entity.MqSendLogs">
        <!--@mbg.generated-->
        <!--@Table mq_send_logs-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="application" jdbcType="VARCHAR" property="application"/>
        <result column="topic" jdbcType="VARCHAR" property="topic"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="body" jdbcType="LONGVARCHAR" property="body"/>
        <result column="mq_key" jdbcType="VARCHAR" property="mqKey"/>
        <result column="producer_id" jdbcType="VARCHAR" property="producerId"/>
        <result column="max_retry_times" jdbcType="TINYINT" property="maxRetryTimes"/>
        <result column="retried_times" jdbcType="TINYINT" property="retriedTimes"/>
        <result column="mq_max_retry_times" jdbcType="TINYINT" property="mqMaxRetryTimes"/>
        <result column="wait_time" jdbcType="BIGINT" property="waitTime"/>
        <result column="target_time" jdbcType="TIMESTAMP" property="targetTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="send_way" jdbcType="TINYINT" property="sendWay"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="modify_by" jdbcType="VARCHAR" property="modifyBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, application, topic, tag, body, mq_key, producer_id, max_retry_times, retried_times, mq_max_retry_times,
        wait_time, target_time, `status`, send_way, create_time, create_by, modify_time, modify_by
    </sql>
    <!--auto generated by MybatisCodeHelper on 2021-07-01-->
    <insert id="insertSelective">
        INSERT INTO mq_send_logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="application != null">
                application,
            </if>
            <if test="topic != null">
                topic,
            </if>
            <if test="tag != null">
                tag,
            </if>
            <if test="body != null">
                body,
            </if>
            <if test="mqKey != null">
                mqKey,
            </if>
            <if test="producerId != null">
                producer_id,
            </if>
            <if test="maxRetryTimes != null">
                max_retry_times,
            </if>
            <if test="retriedTimes != null">
                retried_times,
            </if>
            <if test="mqMaxRetryTimes != null">
                mq_max_retry_times,
            </if>
            <if test="waitTime != null">
                wait_time,
            </if>
            <if test="targetTime != null">
                target_time,
            </if>
            <if test="status != null">
                status,
            </if>
             <if test="sendWay != null">
                send_way,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="modifyBy != null">
                modify_by
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="application != null">
                #{application,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                #{topic,jdbcType=VARCHAR},
            </if>
            <if test="tag != null">
                #{tag,jdbcType=VARCHAR},
            </if>
            <if test="body != null">
                #{body,jdbcType=LONGVARCHAR},
            </if>
            <if test="mqKey != null">
                #{mqKey,jdbcType=VARCHAR},
            </if>
            <if test="producerId != null">
                #{producerId,jdbcType=VARCHAR},
            </if>
            <if test="maxRetryTimes != null">
                #{maxRetryTimes,jdbcType=TINYINT},
            </if>
            <if test="retriedTimes != null">
                #{retriedTimes,jdbcType=TINYINT},
            </if>
            <if test="mqMaxRetryTimes != null">
                #{mqMaxRetryTimes,jdbcType=TINYINT},
            </if>
            <if test="waitTime != null">
                #{waitTime,jdbcType=BIGINT},
            </if>
            <if test="targetTime != null">
                #{targetTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="sendWay != null">
                #{sendWay,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null">
                #{modifyBy,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <!--auto generated by MybatisCodeHelper on 2021-07-01-->
    <select id="selectAllByCreateTimeAndStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mq_send_logs
        where create_time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
          and `status` = #{status,jdbcType=TINYINT}
          and max_retry_times &gt; retried_times
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-07-01-->
    <update id="updateRetriedTimesAndStatus">
        update mq_send_logs
        set retried_times=#{retriedTimes,jdbcType=TINYINT},
            `status`=#{status,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>